.card{
    height: 50px;
    width: 40%;

    background: #6d6767;
    color: #fff;

    border-radius: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.card strong {
    font-size: 14px;
}